/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');

/*===== VARIABLES CSS =====*/

/*===== Colors =====*/
$first-color: #0a696b;
$first-color-dark: #074041;
$first-color-light: #F2F2F2;
$dark-color: #04040c;

/*===== Font and typography =====*/
$body-font: 'Raleway', sans-serif;

$h1-font-size: 1.5rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;

@media screen and (min-width: 768px){
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
}


/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: $body-font;
    font-size: $normal-font-size;       
    color: $first-color-light;
    background-color: $dark-color;
    height: 100vh;    
}
h1{
    margin: 0;  
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== LOGIN=====*/
.login{
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    &__feed{
        position: fixed;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-right: 3rem;
        // margin-top: .6rem;
        font-family: 'Open Sans', sans serif;
        font-weight: 600;
        // font-style: italic;
        &::before{
            content: '';
            width: 1px;
            height: 30px;
            background-color: #666;
            margin-top: .6rem;
        }

        & span{
            font-size: $normal-font-size;
        }

    }
    &__navbar{
        position: fixed;
        top: -2rem;
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 1rem;
        & span{
            margin-top: .6rem;
            font-family: 'Open Sans', sans serif;
        }
    }
    &__logo{
        width: 8rem;
        cursor: pointer;
    }
    &__forms{
        position: relative;
        height: 600px;
    }
    &__register{
        position: absolute;
        top: 9rem; 
        width: 100%;
        background-color: $dark-color;
        padding: 2rem 1rem;
        border-radius: 1rem;
        text-align: center;
        box-shadow: 1px 1px 25px 5px $first-color-dark;
        animation-duration: .4s;
        animation-name: animate-login;

        @keyframes animate-login {
            0%{ 
                transform: scale(1,1);
            }
            50%{ 
                transform: scale(1.1,1.1);
            }
            100%{ 
                transform: scale(1,1);
            }
        }
    }

    &__title{
        font-size: $h1-font-size;
        margin-bottom: 2rem;
        font-weight: 400;
    }
    &__box{
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: .5rem;
        padding: 1rem 1rem;
        background-color: #111;
        margin-top: 1rem;
        border-radius: .5rem;
    }    
    &__input{
        border: none;
        outline: none;
        font-size: $normal-font-size;
        font-weight: 300;
        color: #FFF;
        background-color: #111;

        &::placeholder{
            font-size: $normal-font-size;
            font-family: $body-font;
            color: $first-color-light; 
        }
    }
    &__forgot{
        display: block;
        width: max-content;
        margin-left: auto;
        margin-top: .5rem;
        font-size: $small-font-size;
        font-weight: 600;
        color: $first-color-light;
        &:hover {
            text-decoration: underline;
        }
    }
    &__button{
        display: block;
        padding: 1rem;
        margin: 2rem 0;
        background-color: $first-color;
        color: #FFF;
        font-weight: 600;
        text-align: center;
        border-radius: .5rem;
        transition: .3s;
        text-transform: uppercase;
        border: none;
        width: 100%;
        font-family: $body-font;
        font-size: $normal-font-size;      
        &:hover{
            background-color: $first-color-dark;
        }
    }
    &__account, &__signin, &__signup{
        font-weight: 600;
        font-size: $small-font-size;
    }
    &__account{
        color: $first-color-light;
    }
    &__signin, &__signup{
        color: $first-color;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &__reset{
        color: #666;
        font-size: $normal-font-size;
        margin-bottom: 2rem;
        text-align: left;
    }

}

/* ===== MEDIA QUERIES =====*/

@media screen and (min-width: 576px){
    .login{
        &__forms{
            width: 348px;
            justify-self: center;
        }
    }
}

@media screen and (min-width: 1024px){
    .login{
        height: 100vh;
        overflow: hidden;

        &__feed{
            margin-right: 7rem;
        }
        &__navbar{
            top: 0;
            padding: 1rem;
        }
        &__forms {
            margin-top: 1rem;
            height: 540px;
        }
        &__register{
            top: 5rem;
        }
    }
}